.white-text{
    color: #fff;
}

.h2176cc{
    background-color: #2176cc;
}
.hff7d6e{
    background-color: #ff7d6e;
}
.hfca6ac{
    background-color: #fca6ac;
}
.he8e7cb{
    background-color: #e8e7cb;
}


.hf5ddbc{
    background-color: #f5ddbc;
}
.hfabb64{
    background-color: #fabb64;
}
.hfd724e{
    background-color: #fd724e;
}
.ha02f40{
    background-color: #a02f40;
}
.h5f2f45{
    background-color: #5f2f45;
}


.hd5dd90{
    background-color: #d5dd90;
}
.he6bb45{
    background-color: #e6bb45;
}
.hef9770{
    background-color: #ef9770;
}
